// section.section-picture-cart {
//   display: flex;
//   justify-content: center;
//   margin-top: 3rem;
//   height: 500px;
//   width: 1485px;
//   border: 1px solid black;
//   margin-right: 80px;
// }

// .section-picture-cart-outline {
//   display: flex;
//   width: 85%;
//   height: 100%;
//   border: 1px solid red;
// }

// .left-side-gallery {
//   width: 70%;
//   height: 100%;
//   border: 1px solid yellow;
// }

// .right-side-price {
//   padding: 3rem;
//   width: 50%;
//   height: 100%;
//   border: 1px solid blue;
// }


$white: #fff;
$black: #333;
$lightergray: #d5d5d5;
$lightgray: #f0f3f1;
$gray: #e3dddd;
$text: #888;
$button: #3e3e3f;
$button-hover: #565657;

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin: 0 1.75rem 0 0;
  }
}

h1, h2, h3, h4 {
  color: $black;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
}

h1.page-heading {
  font-size: 2.5rem;
}

h2.price-product {
  font-size: 2.125rem;
  margin: 0;
}

h3.smaller-heading {
  font-size: 2rem;
}

h4.xs-heading {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


#highlight {
  color: $black;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.price {
  margin: 0;
}


.description {
  border-top: 0.0625rem solid $gray;
  margin: 2rem 0;
  padding: 1rem 0 0 0;
}

.add-to-cart {
  position: relative;
  display: inline-block;
  background: $button;
  color: $white;
  border: none;
  border-radius: 0;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateZ(0);
  transition: color 0.3s ease;
  letter-spacing: 0.0625rem;
  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $button-hover;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
  }
}

.container-display-page-1 {
  margin: auto;
  padding: 0 1rem;
  max-width: 90rem;
  width: 100%;
}

.grid {
  > [class*="column-"] {
    padding: 2rem 12rem 0 0;
  }
  &.product {
    border-bottom: 0.0625rem solid $gray;
    padding: 1.5rem;
    display: flex;
  }
}

.product-gallery {
  width: 300%;
}

.right-site-price {
  margin-left: 10rem;
}

.product-image {
  display: none;
}

.image-list {
  li {
    margin: 0;
  }
}



@media (min-width: 1024px) {
  .product-image img, .image-list img {
    width: 100%;
  }

  .product-image {
    display: block;
    img {
      height: 52vh;
      &.active {
        display: block;
        margin: 0 0 0.75rem 0;
      }
    }
  }
  
  .image-list {
    display: flex;
    overflow: hidden;
    li {
      margin: 0 0.75rem 0 0;
      flex-basis: 100%;
      &:nth-child(3) {
        margin: 0;
      }
    }
    img {
      height: 10rem;
      width: 100%;
      transition: opacity 0.3s ease;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

























// ! Accordion
section.product-display-section {
  padding-top: 4rem;
  width: 50%;
  margin: auto;
}

details[open] summary ~* {
  animation: open .3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  } 
  100% {
    overflow: 1;
  }
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: .5rem 0;
  border-bottom: 1px solid black;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
}

details summary::after {
  content: '+';
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: .75rem;
  right: 0;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary::after {
  transform: rotate(45deg);
  font-size: 2rem;
}

details summary {
  outline: 0;
}

details p {
  font-size: .95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.links {
  padding-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  // padding-top: 20px;
}

h1.rotating-links {
  font-size: 20px;
  margin: 1rem;
  writing-mode: vertical-lr;
  text-align: center;
  line-height: .9;
}

.rotate-links {
  transform: rotate(180deg);
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main-info-page {
  margin-left: 80px; /* Same as the width of the sidenav */
  margin-right: 80px;
  padding: 0px 10px;
}

@media only screen and (max-width: 900px)  {
  .main-info-page {
    width: 400%;
    height: 100vh;
  }
}