section.login-section .container .user .formBox h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section.login-section .container .user .formBox input {
  width: 100%;
  padding: 10px;
  background: rgba(254,245,223, .3);
  color: #333;
  border: none;
  border-bottom: 1px solid rgba(211, 151, 0, .2);
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
}

.label-edit-delete {
  font-size: 14px;
  font-weight: bold;
}


.update-delete-buttons {
  display: flex;
}

.delete-buttons-space {
  margin-right: 1rem !important;
}

img#doggysnifing {
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 900px) {
  .hidePicture {
    display: none;
  }
}

.positioning-button-top {
  margin-top: 3rem;
}

.rating-box {
  width: 40px;
}

.rating-rating-container,
.rating-rating-container-edit {
  display: flex;
  justify-content: flex-end;
}


.rating-number-text {
  padding-top: 3px;
  padding-right: 10px;
}

.adding-comment-style {
  text-align: center;
  margin-top: 1rem;
}