.content-container {
  min-height: calc(90vh - 34px);
}

.footer {
  bottom: 0;
  position: relative;
}

.footer-text {
  text-align: center;
}

div.general-button-2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

div.general-button-2 input {
  width: 100%;
  padding: 10px;
  background: rgba(211, 151, 0, .2);
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
}

.explore-more-home-page {
  width: 100%;
  height: 90px;
}