.coursel-background {
  z-index: -999;
}

a.carousel-control-next-icon {
  display: none;
}

span.carousel-control-next-icon {
  background-image: hidden;
}

div.home-text-container {
  width: 500px;
  height: 400px;
}

#positioning-search-component {
  margin-top: -25px;
}

#root > div.content-container > section.coursel-section {
  margin-top: 3rem;
}


