.App {
  text-align: center;
  padding-top: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-visible-custom {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 700px;
  padding: 3rem 3rem 1rem 3rem;
}

.modal-header-custom {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
  background: transparent;
  margin-top: -2.3rem;
  margin-right: -2rem;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: transparent;
  color: rgba(211, 151, 0, 1);
  margin-bottom: 1rem;
}

.modal-display-result {
  margin-top: 3rem;
}

.search-filter-styling {
  display: flex;
  align-items: center;
}

.search-filter-styling img {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-right: 3rem;
}

.search-filter-anchor {
  text-decoration: none;
  color: black;
}

.search-filter-anchor:hover {
  color: rgba(211, 151, 0, 1);
}

.search-filter-text {
  font-weight: bolder;
}