.border-shop-display {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;

  &:hover {
    border: 1px solid rgba(254,245,223, .8);
  }
}

.card-shop-display {
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0-expanded {
  background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') center center no-repeat;
  background-size: cover;
  

  &:hover {
    background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') left center no-repeat;
    background-size: cover;
    }

    h2 {
      opacity: 1;
    }
}

.outside-shop-container {
  display: flex;
  justify-content: center;
}

.shop-slider {
  width: 50%;
}

.pushing-content-down {
  height: 80vh;
}

.slick-next {
  display:none;
}

div.shop-top-margin {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.shop-heading-1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h3.shop-heading-3 {
  font-size: 1.2rem;
  text-align: center;
  padding-top: .7rem;
}

div.shop-top-description {
  border-top: 1px dotted #d39700;
  padding-top: 1rem;
  width: 80%;
  height: 200px;
}

.shop-card-text {
  font-family: 'Antic Didone', serif;
  font-size: 1.2rem;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
  color: rgba(254,245,223, .8);
}

a.removing-a-underline {
  text-decoration: none;
}

.outer-outer-box-user-profile {
  border-bottom: 1px dotted #D39700;
}

.heading-3-profile-page {
  text-align: center;
  padding-top: 2rem;
}

.sorting-shop-category {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}