@import 'navbar';
@import 'login-register';
@import 'display-card-product';
@import 'display-product-information';
@import 'comments-sections';
@import 'search-modal';
@import 'error-page';
@import 'basket'; 
@import 'search-field'; 
@import 'gallery-display';
@import 'slick-carousel/slick/slick.css'; 
@import 'slick-carousel/slick/slick-theme.css';
@import 'category-filtered';
@import 'profile';
@import 'edit-delete-profile';
@import 'shop.scss';
@import 'profile-display';
@import 'rating';
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Antic Didone', serif;
}
